.pg_all {
width:1366px;
height:745px;
margin:0px auto;
background: url("../imgs/page_all.jpg");
}

#pg_head{
width:1366px;
height:75px;
float:center;
}

#pg_head h1{
font-size:40px;
font-weight:blod;
color:#111315;
text-align:center;
padding:25px;
}



#pg_Main_nav nav {
    margin: 0px auto; 
    text-align: center;
}

#pg_Main_nav nav ul ul {
    display: none;
}

#pg_Main_nav nav ul li:hover > ul {
        display: block;
    }
    
#pg_Main_nav nav ul {
    background: #efefef; 
    box-shadow: 15px 10px 10px 0px rgba(0,0,0,0.35);
    padding: 0px 20px;
    border-radius: 10px;  
    list-style: none;
    position: relative;
    display: inline-table;
}

#pg_Main_nav nav ul:after {
        content: ""; clear: both; display: block;
    }
 
#pg_Main_nav nav ul li {
  float: left;
}
#pg_Main_nav nav ul li:hover {
    background: #4b545f;
}
#pg_Main_nav nav ul li:hover a {
	color: #fff;
}
     
#pg_Main_nav nav ul li a {
  display: block;
  padding: 25px 40px;
  color: #4b545f;
  text-decoration: none;
}
              
#pg_Main_nav nav ul ul {
  background: #5f6975; border-radius: 0px; padding: 0;
  position: absolute; top: 100%;
}

#pg_Main_nav nav ul ul li {
  float: none; 
  border-top: 1px solid #6b727c;
  border-bottom: 1px solid #575f6a; position: relative;
}

#pg_Main_nav nav ul ul li a {
    padding: 15px 40px;
    color: #fff;
}
   
#pg_Main_nav nav ul ul li a:hover {
    background: #4b545f;
}
         
#pg_Main_nav nav ul ul ul {
    position: absolute; left: 100%; top:0;
}
    
p{
	font-size:25px;
	font-weight:bold;
  text-indent: 2em;
  color: #111315; 
  line-height:1.3em;
}

#pg_cont{
padding:60px 0px 0px 130px;
width: 350px;
height: 500px;
float:left;
}

#pg_cont1{
padding:200px 0px 0px 200px;
width: 350px;
height: 500px;
float:left;
}

#pg_cont1 p{
	font-style:oblique;
	font-weight:bold;
	color: #111315; 
  line-height:2em;
	}